extends layout

block content
    .interior
        .interior__text-container
            h1.interior__caption Как этот товар сочетается с другими в квартире?
            p.interior__description Постройте интерьер, выберите материалы и узнайте стоимость ремонта
            .interior__button
                .interior__button-img
                Построить интерьер
        .interior__img-container
            .interior__img-room
            .interior__img-sink
            .interior__img-close

    .item
        .item__container
            .item__img-container
                img(class='item__img', src='../images/#{img}')
        .item__description-container
            h1.item__caption #{title}
            p.item__article Арктикул: #{article}
            .item__columns
                .item__column1
                    p.item__column1-size-text Размер:
                    p.item__column1-size #{size}
                    p.item__column1-color-text Цвет:
                    p.item__column1-color #{color}
                    p.item__column1-description #{description}
                .item__column2
                    .item__column2-price-container
                        p.item__column2-text Цена:
                        .item__column2-discount -20%
                        p.item__column2-price #{price}
                    .item__column2-delivery-container
                        .item__column2-delivery
                            .item__column2-delivery-img1
                            p.item__column2-delivery-text КИН холдинг
                        .item__column2-delivery
                            .item__column2-delivery-img2
                            p.item__column2-delivery-text Доставка 2 дня от 100 ₽
                        .item__column2-delivery
                            .item__column2-delivery-img3
                            p.item__column2-delivery-text Самовывоз из 3 точек
                        .item__column2-button
                            .item__column2-button-img
                            В корзину
